name: Validate GitOps

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: 'latest'

      - name: Set up kustomize
        uses: imranismail/setup-kustomize@v2
        with:
          version: 'latest'

      - name: Validate YAML files
        run: |
          echo "Validating Argo CD Application manifests..."
          find argocd/applications -name "*.yaml" -exec kubectl apply --dry-run=client -f {} \;
          
          echo "Validating optional Ingress..."
          find apps-ingress -name "*.yaml" -exec kubectl apply --dry-run=client -f {} \;
